<script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
<%= wechat_config_js debug: false, api: %w(hideMenuItems closeWindow chooseWXPay) -%>
<script type="application/javascript">
 wx.ready(function() {
   wx.hideOptionMenu();
 });
</script>

<div class="weui-msg">
  <div class="weui-msg__text-area">
    <h1 class="weui-msg__title">欢迎, <%= current_user.nickname %></h1>
    <img src="<%= current_user.avatar %>" width="64" height="64">
  </div>
  <div class="weui-msg__opr-area">
    <p class="weui-btn-area">
      <% unless current_user.paid? %>
        <a href="javascript:wxpay();" class="weui-btn weui-btn_primary">以 16 元购买获取</a>
      <% else %>
        <p class="weui-msg__desc">源码包将在两天内邮件发送，欢迎加入discord服务器：</p>
        <p class="weui-msg__desc">https://discord.gg/VupMDWgv</p>
        <p class="weui-msg__desc">若对此支付程序感兴趣，欢迎查看源码：</p>
        <p class="weui-msg__desc">https://github.com/Eric-Guo/wechat-starter</p>
      <% end %>
      <a href="javascript:wx.closeWindow();" class="weui-btn weui-btn_plain-default">关闭</a>
    </p>
  </div>
</div>

<% if Figaro.env.wechat_pay_mch_id %>
  <script>
   function wxpay() {
     $.post('/wx_pay', function(data) {
       wx.chooseWXPay({
         timestamp: data.timeStamp,
         nonceStr: data.nonceStr,
         package: data.package,
         signType: data.signType,
         paySign: data.paySign,
         success: function (res) {
          window.location.href = "/";
         },
         error: function(e) {
           alert(JSON.stringify(e));
         }
       });
     });
   }
  </script>
<% end %>
