<script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
<%= wechat_config_js debug: false, api: %w(hideMenuItems closeWindow) -%>
<script type="application/javascript">
 wx.ready(function() {
   wx.hideOptionMenu();
 });
</script>

<div class="weui_msg">
  <div class="weui_text_area">
    <h1 class="weui_msg_title">Hello, <%= current_user.nickname %></h1>
    <img src="<%= current_user.avatar %>" width="128" height="128">
  </div>
  <div class="weui_opr_area">
    <p class="weui_btn_area">
      <% if Figaro.env.wechat_pay_mch_id %>
        <a href="javascript:wxpay();" class="weui_btn weui_btn_primary">Try wechat pay!</a>
      <% end %>
      <a href="javascript:wx.closeWindow();" class="weui_btn weui_btn_plain_default">Close</a>
    </p>
  </div>
</div>

<% if Figaro.env.wechat_pay_mch_id %>
  <script>
   function wxpay() {
     $.post('/wx_pay', function(data) {
       WeixinJSBridge.invoke('getBrandWCPayRequest', data, function(res){
         if(res.err_msg == "get_brand_wcpay_request:ok") {
           // 支付成功
         } else if(res.err_msg == "get_brand_wcpay_request:cancel") {
           // 用户取消支付
         } else {
           // 支付调用失败
           alert(JSON.stringify(data));
         }
       });
     });
   }
  </script>
<% end %>
