<div class="weui-msg">
  <div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"></i></div>
  <div class="weui-msg__text-area">
      <h2 class="weui-msg__title">获取绩效系统</h2>
      <h2 class="weui-msg__title">原始git递交历史包</h2>
      <p class="weui-msg__desc">请点击下方“使用完整服务”授权微信登录。</p>
  </div>
</div>
