<div class="weui-msg">
  <div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"></i></div>
  <div class="weui-msg__text-area">
      <p class="weui-msg__desc">请点击下方“使用完整服务”授权微信登录。</p>
  </div>
</div>
